<!DOCTYPE html>
<html>
<head>
    <!-- meta stuff -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <!-- iphone fullscreen -->
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <!-- title -->
    <title>{+title}iLepra{/title}</title>

    <!-- apple icon -->
    <link rel="apple-touch-icon" href="img/icon.png" />

    {?debug}
    <!-- scripts -->
    <script data-main="js/app" src="bower_components/requirejs/require.js"></script>
    <script src="js/config.js"></script>

    <!-- styles -->
    <link rel="stylesheet"  href="bower_components/jquery-mobile/dist/jquery.mobile.min.css" />
    <link rel="stylesheet"  href="css/main.css" />
    {:else}
    <script src="js/app.min.js"></script>
    <link rel="stylesheet" href="css/main.min.css" />
    {/debug}
</head>
<body>
    {+body/}
</body>
</html>
